/*FAMOUS SECTION*/
html {
    -moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    scroll-behavior: smooth;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
section{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    border: 15px inset red;
    border-radius: 50%;
    height: 450px;
    width: 450px;
    background-image: url(img/1.page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 50s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes animate{
    0%{
        background-image: url(img/chinatown-night.jpg);
    }
    20% {
        background-image: url(img/painted1);
    }
    40% {
        background-image: url(img/muirwoods-1.jpg);
    }
    60% {
        background-image: url(img/alcatraz1);
    }
    80% {
        background-image: url(img/lombard1);
    }
    100% {
        background-image: url(img/bridge-golden.png);
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    width: 100%;
}

nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px 35px;
    transition: all .9s;
}
nav ul{
    margin-right: 15px;
}
#sf{
    align-self: center;
    font-size: 1.7em;
    margin: 15px;
    color: black;
    font-family: "Jersey 15", serif;
    padding-left: 50px;
}
a{
    font-size: 16px;
    font-family: "Montserrat", serif;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
nav li:hover,
nav li:focus{
    box-shadow: inset 200px 0 0 0 rgb(151, 151, 151);;
}
.places{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 150px;
}
.famous-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 3em;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
#cover-photo{
    width: 600px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 25px Inset red;
}
button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, rgb(185, 0, 0) 0 , red 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    transition: .5s;
  }
  button:hover,
  button:focus{
    color:black;
  }
.famous{
    margin-top: 50px;
}
.paragraph{
    font-size: 15px;
    font-family: "Montserrat", serif;
    margin-bottom: 20px;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.5;
}
.view li{
    margin: 10px;
}
iframe{
    width: 400px;
    height: 200px;
}
#famous-p{
    max-width: 550px;
    font-size: 18px;
    font-family: "Montserrat", serif;
    line-height: 1.6;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.famous a{
    font-size: 14px;
    font-family: "Montserrat", serif;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    font-weight: 600;
}
li{
    font-size: 14px;
    font-family: "Montserrat", serif;
    margin-bottom: 20px;
    color: black;
    font-weight: 500;
}
.famous a:hover,
.famous a:focus{
    color:gray;
}
.famous img{
    width: 430px;
    height: 300px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.famous h2 a{
    padding-top: 5px;
    color: black;
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 0;
    text-align: left;
}
.famous h3{
    padding-top: 5px;
    color: black;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 0;
    text-align: left;
    margin-bottom: 0;
}
.grid-famous{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 110px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    padding-top: 50px;
}
hr{
    width: 400px;
}
.famous-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 430px;
    border-radius: 5px;
}
.facts p{
    margin-top: 30px;
    max-width: 500px;
}
.facts img{
    width: 700px;
    height: 400px;
    margin-top: 20px;
}
.facts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.facts h4{
    margin-bottom: 0;
    font-size: 20px;
    font-family: "Montserrat", serif;
}
.facts a{
    font-size: 18px;
    font-family: "Montserrat", serif;
    margin-bottom: 0;
    color: black;
}
.facts a:hover,
.facts a:focus{
    text-decoration: underline;
    color: black;
}


/*FOOTER SECTION*/
footer{
    color: white;
    background: linear-gradient(132deg, #ffd89b, #19547b);
    padding: 50px;
    padding-bottom: 15px;
    margin: -8px;
    margin-top: 50px;
}
h4{
    font-size: 22px;
    color: black;
    font-weight: 900;
    font-family: "Montserrat", serif;
}
footer li{
    list-style-type: none;
    margin-bottom: 10px;
}
footer div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer a{
    color: white;
    transition: all .5s;
    font-weight: 600;
}
footer a:hover,
footer a:focus{
    color:rgb(48, 48, 48);
}
.media{
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}
.media a{
    padding: 7px;
}
footer p{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 9px;
    font-family: "Montserrat", serif;
}
#copyright{
    border-top: #e9defa;
}