html {
    -moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
.jersey-15-regular {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
  }  
  .anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }   
  .teko-uniquifier {
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
body{
    font-family: "Passion One";
    -webkit-background-clip: text;
    margin: 0;
    background: linear-gradient(white);
}
.navbar{
    background:  linear-gradient(black, rgba(0, 0, 0, 0.3)),
				url(img/cover-photo.jpg) right top / cover;
                background-position: center 52%;
    background-repeat: no-repeat;
    height: 750px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    padding: 27px;
    background: linear-gradient(black, rgb(0, 0, 0, 0.3));
}
nav ul{
    padding-right: 50px;
}
nav li{
    display: inline-block;
    margin-right: 35px;
    font-size: 23px;
}
#sf{
    align-self: center;
    font-size: 1.8em;
    margin: 15px;
    color: white;
    font-family: "Jersey 15", serif;
    padding-left: 50px;
}
a{
    font-family: "Jersey 15", serif;
    text-decoration: none;
    color: white;
    transition: all .5s;
}
a:hover, 
a:focus {
    color:#769ed1;
}
header{
    text-align: center;
    padding: 10%;
	color: #fff;
    background-size: cover;
    margin-bottom: 30px;
}


main{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 10px;
    gap: 80px;
}
h1 {
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: "Teko", serif;
}
.catch{
    font-size: 28px;
    color: white;
    font-family: "Teko", serif;
}
button{
    background: #769ed1;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 4px solid black;
    font-family: "Teko", serif;
    font-size: 21px;
    font-weight: 600;
    color: black;
    transition: all .5s;
}
button:hover,
button:focus{
    background: black;
}

.explore{
    margin: 70px;
}
h2{
    font-family: "Teko", serif;
    text-align: center;
    color: black;
    padding: 40px;
    font-size: 2.5em;
}
hr{
    border: 1px solid black;
}

.grid-parent{
    display: flex;
    justify-content: center;
    background-color: black;
    max-width: 1350px;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}
.grid{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


/*GRID SECTION*/
.goldengate{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/golden-gate-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.gate{
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    color: white;
}
.goldengate:hover{
    transform: scale(1.1);
}




.alcatraz{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/alcatraz-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.traz{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: white;
}
.alcatraz:hover{
    transform: scale(1.1);
}


.chase-center{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/chase-center.jpg);
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.chase{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: white;
}
.chase-center:hover{
    transform: scale(1.1);
}


.coit{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/coit-photo.jpg) right top / cover;
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.tower{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: white;
}
.coit:hover{
    transform: scale(1.1);
}




.painted-ladies{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/painted-ladies-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    text-align: center;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.ladies{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: white;
}
.painted-ladies:hover{
    transform: scale(1.1);
}



.lombard{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/lombard-photo.jpg) right top / cover;
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.street{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
}

.lombard:hover{
    transform: scale(1.1);
}





.palace-of-arts{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/palace-of-arts-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.palace{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
}
.palace-of-arts:hover{
    transform: scale(1.1);
}




.twin-peaks{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/twin-peaks-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    text-align: center;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.twin{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
}
.twin-peaks:hover{
    transform: scale(1.1);
}



.oracle-park{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/giants-oracle-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.park{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
}
.oracle-park:hover{
    transform: scale(1.1);
}

.zoo{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/zoo-sf.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.zoo-park{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
}
.zoo:hover{
    transform: scale(1.1);
}


.baker-beach{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/baker-beach.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.beach{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
}
.baker-beach:hover{
    transform: scale(1.1);
}


.city-hall{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/city-hall.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.hall{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
}
.city-hall:hover{
    transform: scale(1.1);
}


.sciences-academy{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(img/sciences-academy.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.academy{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
}
.sciences-academy:hover{
    transform: scale(1.1);
}


.pier-39{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(img/pier-39.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.pier{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
}
.pier-39:hover{
    transform: scale(1.1);
}


.ghirardelli-square{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(img/Ghirardelli-Square.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    justify-content: center;
}
.ghirardelli{
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
}
.ghirardelli-square:hover{
    transform: scale(1.1);
}



footer{
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: gray;
    padding: 50px;
}
footer li{
    display: inline-block;
    font-size: 1.3em;
    margin-right: 15px;
    max-width: 1300px;
}
footer a{
    color: white;
}
.linked-in{
    background-size: 100px;
    width: 40px;
    height: 40px;
}
.linked-in:hover{
    background-color: #0072b1;
    width: 40px;
    height: 40px;
}

.git-hub{
    width: 35px;
    height: 35px;
    border-radius: 30px;
}
.git-hub:hover,
.git-hub:focus{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 30px;
}



   