html {
    -moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    scroll-behavior: smooth;
}
.jersey-15-regular {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
  }  
  .anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }   
  .teko-uniquifier {
    font-family: "Teko", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
body{
    font-family: "Passion One";
    -webkit-background-clip: text;
    margin: 0;
    background: linear-gradient(white);
}

/*NAVBAR/HEADER*/
.navbar{
    background:  linear-gradient(gray, rgba(0, 0, 0, 0.4)),
				url(img/cover-photo.jpg) right top / cover;
                background-position: center 52%;
    background-repeat: no-repeat;
    height: 750px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background: linear-gradient(black, rgb(0, 0, 0, 0.3));
    position: fixed;
    width: 100%;
}
nav ul{
    padding-right: 40px;
}
nav li{
    display: inline-block;
    font-size: 20px;
    padding: 20px 35px;
    transition: all .9s;
}
#sf{
    align-self: center;
    font-size: 1.5em;
    margin: 15px;
    color: white;
    font-family: "Jersey 15", serif;
    padding-left: 50px;
}
a{
    font-family: "Jersey 15", serif;
    text-decoration: none;
    color: white;
}
nav li:hover{
    box-shadow: inset 200px 0 0 0 gray;
}
header{
    text-align: center;
    padding: 14%;
	color: #fff;
    background-size: cover;
    margin-bottom: 30px;
}

/*BODY*/
main{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-radius: 10px;
    gap: 80px;
}
h1 {
    text-align: center;
    font-size: 90px;
    color: white;
    font-family: 'Bebas Neue';
}
.catch{
    font-size: 29px;
    color: white;
    font-family: "Teko", serif;
}
button{
    background: transparent;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 4px solid white;
    font-family: "Teko", serif;
    font-size: 22px;
    font-weight: 600;
    color: black;
    transition: all .5s;
}
button:hover,
button:focus{
    background: gray;
}

.explore {
    max-width: 1100px;
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
h2{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(img/beach.jpg)right top / cover;
    font-family: "Teko", serif;
    text-align: center;
    color: white;
    padding: 40px;
    font-size: 2.2em;
    max-width: 450px;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.bridge{
    width: 520px;
    font-size: 1.2em;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
}

/*GRID*/
.grid-parent{
    display: flex;
    justify-content: center;
    background-color: black;
    max-width: 1350px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}
.grid{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


/*GRID SECTION*/
.goldengate{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/golden-gate-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    border-radius: 30px 30px 0px 0px;
    font-family: "Jersey 15", serif;
    font-size: 1.2em;
    color: white;
    align-content: center;
}
.goldengate:hover{
    transform: scale(1.1);
}

.chase-center{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/chase-center.jpg);
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chase-center:hover{
    transform: scale(1.1);
}

.coit{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/coit-photo.jpg) right top / cover;
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coit:hover{
    transform: scale(1.1);
}

.painted-ladies{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/painted-ladies-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    text-align: center;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.painted-ladies:hover{
    transform: scale(1.1);
}

.lombard{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/lombard-photo.jpg) right top / cover;
    background-position: center 75%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lombard:hover{
    transform: scale(1.1);
}

.palace-of-arts{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/palace-of-arts-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.palace-of-arts:hover{
    transform: scale(1.1);
}

.alcatraz{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/alcatraz-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alcatraz:hover{
    transform: scale(1.1);
}

.twin-peaks{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/twin-peaks-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    text-align: center;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.twin-peaks:hover{
    transform: scale(1.1);
}

.oracle-park{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/giants-oracle-photo.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oracle-park:hover{
    transform: scale(1.1);
}

.zoo{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/zoo-sf.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zoo:hover{
    transform: scale(1.1);
}

.baker-beach{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/baker-beach.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.baker-beach:hover{
    transform: scale(1.1);
}

.city-hall{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(img/city-hall.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.city-hall:hover{
    transform: scale(1.1);
}

.sciences-academy{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(img/sciences-academy.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sciences-academy:hover{
    transform: scale(1.1);
}

.pier-39{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(img/pier-39.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pier-39:hover{
    transform: scale(1.1);
}

.ghirardelli-square{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(img/Ghirardelli-Square.jpg) right top / cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    transition: transform .5s, filter 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ghirardelli-square:hover{
    transform: scale(1.1);
}



/*FOOTER SECTION*/
footer{
    color: black;
    margin-top: 20px;
    background-color: gray;
    padding: 50px;
    padding-bottom: 15px;
}
footer li{
    list-style-type: none;
    font-size: 1.3em;
    margin-right: 15px;
    max-width: 1300px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin: 40px;
}
footer a{
    color: white;
    transition: all .5s;
}
footer a:hover,
footer a:focus{
    color: #769ed1;
}
.media{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.media a{
    padding: 7px;
}
footer p{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 13px;
}
footer hr{
    width: 100%;
}
.linked-in{
    width: 30px;
    height: 30px;
    border: 1px solid red;
}
.linked-in:hover{
    background-color: #0072b1;
}

.git-hub{
    border-radius: 30px;
}
.git-hub:hover,
.git-hub:focus{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 30px;
}
